{% extends "fetchcar/base.html" %}

{% block title %}
	筛选
{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="/static/fetchcar/js/search.js"></script>
{% endblock %}
{% block main %}


<form method="post">
{% csrf_token %}
	<select name="brand" id="select_brand">
		<option value="">--选择品牌--</option>
	</select>

	<select name="cartype" id="select_cartype">
		<option value="">--选择车型--</option>
	</select>
	<button type="submit">确定</button>
	</form>



{% endblock %}

