{% extends "fetchcar/base.html" %}

{% block title %}
	筛选
{% endblock %}

{% block main %}
<!--
<select name="brand" id="select_brand">
	<option value="">--选择品牌--</option>
	{% for brand in brands %}
	<option value={{ brand.name }} {% ifequal brand.name brand %} selected="selected" {% endifequal %}>{{ brand.name }}</option>
	{% endfor %}
</select>

<select>
	<option value="">--选择车型--</option>
</select>
<button type="submit">确定</button>
-->

<form method="post" roll="form">
	{% csrf_token %}
	{{ form.brand }}
</form>
{% endblock %}

