{% extends "fetchcar/base.html" %}

{% block title %}
	筛选
{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="/static/fetchcar/js/search.js"></script>
{% endblock %}
{% block main %}


<form method="post">
{% csrf_token %}
	<select name="brand" id="select_brand">
		<option value="">--选择品牌--</option>
	</select>

	<select name="cartype" id="select_cartype">
		<option value="">--选择车型--</option>
	</select>

	<select name="regtime" id="select_regtime">
		<option value="">--上牌时间--</option>
		{% for reg_time in regtime_list %}
		<option value={{ reg_time }}>{{ reg_time }}</option>
		}
		{% endfor %}
	</select>
	<input name="price_min" type="text" placeholder="价格:万" />到
	<input name="price_max" type="text" placeholder="价格:万" />
	<button type="submit" class="btn-default">确定</button>
	</form>

{% if car_list %}
{% include "fetchcar/result.html" %}
{% endif %}
{% endblock %}

